body{
    margin:0;
}

h3{
    background-color:paleturquoise;
    border-top:30px;
    margin-right:30px;
}
li{
    margin-top:20px;
}

#title h1{ /*부모가 title인 h1에 대한 설정*/
    font-size:45px;
    text-align: center;
    background-color: gray;
    padding:20px;
    margin:0px;
    display:block; /*inline : 같은 줄, block : 줄바꿈*/
}

#grid{
    display:grid;
    grid-template-columns:200px 1fr;
}

#list{
    background-color: lightgray;
    margin:0px;
    padding-top:10px;
    padding-right:30px;
}
#article{
    padding-left:40px;
}

@media(max-width:650px){
    h1{
        font-size:30px;
    }
    #grid{
        display:block;
    }
    #grid ol{
        border:none;
        padding-bottom:20px;
    }
}
/*1fr : 비율(fr)*/
/*caniuse 사이트에서 속성 등을 검색해서 사용이 가능한지 확인할 수 있다*/
