#body {
    font-size: .75em;
    color: #666
}

#whole_wrapper {
    position: relative    /*???*/
}
#whole_wrapper>.head {
    background-color: rgb(185, 200, 231);
}
#whole_wrapper>.head header {
    position: relative;
    text-align: center;
    z-index: 14;    /*???*/
}
#whole_wrapper>.head header hgroup {
    padding-top:80px
}
#whole_wrapper>.head header hgroup p.title a {
    font-size: 2.4em;
    color:#1e1c39
}
#whole_wrapper>.head header hgroup p.subtitle {
    padding: 3px 0
}
#whole_wrapper>.head header hgroup p.subtitle small {
    color:rgb(93, 98, 132);
    font-size: 0.8em;
    padding: 0 3px
}
#whole_wrapper footer {
    padding: 30px;
    text-align: center;
}